<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="GlobalContext"
      connectionString="Data Source=wus-coresql.cloudapp.net;Initial Catalog=Core_Global;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ReportingContext"
      connectionString="Data Source=wus-coresql.cloudapp.net;Initial Catalog=Core_Reporting;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <log4net>
    <appender name="AdoNetAppender" xdt:Locator="Match(name)">
      <connectionString xdt:Transform="Remove"/>
      <connectionString xdt:Transform="InsertIfMissing"/>
      <connectionString xdt:Transform="SetAttributes"
            value ="Data Source=wus-coresql.cloudapp.net;Initial Catalog=ApplicationLog;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True;"/>
    </appender>
  </log4net>
  <appSettings>
    <add key="AuthenticationAPI" value="https://identity.discovia.com/identity"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GlobalAPI" value="https://globalapi.discovia.com/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ManageUsers" value="https://users.discovia.com/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocumentAPI" value="https://documentsapi.discovia.com/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoreIdentityAPI" value="https://identity.discovia.com/identity/connect/token"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IntakeAPI" value="https://intakeapi.discovia.com/"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>